{% load static %}

<div id="sidebar" class="sidebar">
    <div class="header">
        <div class="logo">
            <img src="https://c10.patreonusercontent.com/4/patreon-media/p/campaign/7498828/456279b6030447c9b0dae837cd93148f/eyJ3IjoyMDB9/2.jpg?token-time=2145916800&token-hash=w-caivKoReTEEi8vDAODPK8kk6g6EDe4RLEhr1VBGF0%3D"
                alt="Logo">
            <h1 id="logo-text">MITRE<span class="c-red">ATTACK</span></h1>
        </div>
        <span id="sidebar-btn-close" onclick="sidebarClose()" class="icon material-icons-sharp">close</span>
    </div>
    <div class="link">
        <ul>
            <li><a id="selected" href="#"><span class="icon material-icons-sharp">dashboard</span><span
                        class="text">Dashboard</span></a></li>
            <!-- <li><a href="#"><span class="icon material-icons-sharp">person_outline</span><span class="text">People</span></a></li> -->
            <li><a href="./reports.html"><span
                        class="icon material-icons-sharp">report_gmailerrorred</span><span
                        class="text">Reports</span></a></li>
            <!-- <li><a href="#"><span class="icon material-icons-sharp">receipt_long</span><span class="text">Orders</span></a></li> -->
            <li><a href="./statistics.html"><span class="icon material-icons-sharp">insights</span><span
                        class="text">Statistics</span></a></li>
            <li><a href="../phis/phis.html"><span class="icon material-icons-sharp">mail</span><span
                        class="text">Sending Mail</span></a></li>
            <!-- <li><a href="#"><span class="icon material-icons-sharp">mail_outline</span><span class="text">Messages</span><span id="msg">28</span></a></li> -->
            <!-- <li><a href="#"><span class="icon material-icons-sharp">settings</span><span class="text">Settings</span></a></li> -->
            <!-- <li><a href="#"><span class="icon material-icons-sharp">inventory</span><span class="text">Template</span></a></li> -->
            <li><a href="../phis/save.html"><span class="icon material-icons-sharp">add</span><span
                        class="text">Add Template</span></a></li>
        </ul>
        <a id="logout" class="logout" href="../sign/login.html"><span
                class="icon material-icons-sharp">logout</span><span class="text">Logout</span></a>
    </div>
</div>