{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/dashboard/machine.css' %}">
{% endblock %}

{% block title %} Machine {% endblock %} 

{% block content %}
    <div class="main">
        <div class="right-panel">
            <div class="header">
                <h2>Machines</h2>
            </div>

            <div class="machine-cards">
                {% for machine in machines %}
                    {% include 'partials/_machine_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}