{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Dashboard App</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'partials/_side_bar.html' %}
    {% block content %}{% endblock %}


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>